<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
        <welcome-file-list>
            <welcome-file>index</welcome-file>
        </welcome-file-list>


    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>kr.or.ddit.member.web.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <!-- JSP 접속 방지
    <security-constraint>

        <display-name>JSP Protection</display-name>

        <web-resource-collection>

            <web-resource-name>SecureJSPPages</web-resource-name>

            <url-pattern>*.jsp</url-pattern>

        </web-resource-collection>

        <auth-constraint>

            <role-name>nobody</role-name>

        </auth-constraint>

    </security-constraint>



    <security-role>

        <description>

            Nobody should be in this role so JSP files are protected

            from direct access.

        </description>

        <role-name>nobody</role-name>

    </security-role>
 -->
    <!-- 401 에러 로그인 페이지로 보내기 -->
    <error-page>

        <error-code>401</error-code>

        <location>/kkuisland</location>

    </error-page>

    <!-- 500 에러 로그인 페이지로 보내기 -->
    <error-page>

        <error-code>500</error-code>

        <location>/kkuisland</location>

    </error-page>
</web-app>

